<div class="container py-5" *ngIf="property">
    <h1 class="display-4">{{ property.title }}</h1>
    <hr class="bg-dark mb-4 mt-2">
    <div class="row">
        <div class="col-md-6">

            <div>
                <img [src]=property.photo class="w-100">
            </div>
            <div  *ngIf="property.photo.length > 1">

            </div>
            
        </div>
        <div class="col-md-6">
            <h3 class="font-weight-normal">{{ property.price }} €</h3>
            <p class="font-weight-light">
                {{ property.category }} <span *ngIf="property.surface && property.surface !== ''">de {{ property.surface }} m2</span> <span *ngIf="property.rooms && property.rooms !==''">, {{ property.rooms }} pièce(s)</span>
              </p>
              <p class="font-weight-light">
                  {{ property.description }}
              </p>
              <h3 class="font-weight-normal text-danger" *ngIf="property.sold">Vendu !</h3>
              <h3 class="font-weight-normal text-success" *ngIf="!property.sold">A vendre</h3>
        </div>
    </div>
</div>