<div class="container">
  <h1 class="display-4">Nos biens immobiliers</h1>
  <div class="row mt-5">
    <div
      *ngFor="let property of properties; let i = index"
      class="col-sm-12 col-md-6 col-lg-4"
    >
      <div class="card h-100" style="width: 18rem;">
        <img class="card-img-top" [src]= property.photo >
        <div class="card-body">
          <h5 class="card-title">{{ property.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ property.subtitle }}</h6>
          <p class="card-text">
            {{ property.category }} <span *ngIf="property.surface && property.surface !== ''">de {{ property.surface }} m2</span> <span *ngIf="property.rooms && property.rooms !==''">, {{ property.rooms }} pièce(s)</span>
          </p>
          <p>
            {{ property.price }} €
          </p>
          <p [ngStyle]="{ color: getSold(i) }">
            <span *ngIf="!property.status">A vendre</span>
            <span *ngIf="property.status">Vendu !</span>
          </p>
          <div class="text-center">
            <button class="btn btn-primary" type="button" [routerLink]="['/property', i]">Consulter ce bien</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
